#ignore temporary notebooks
.ipynb_checkpoints/

#ignore temporary results
results/

#ignore local saves
weights/
my_model/

#ignore TeX auxiliary files
Report/images/*.pdf
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.toc

